

body {
  width: 50%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
}

header h1 {
  font-size: 100px;
  color: #2c3e50;
  font-weight: 200;
}

input {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  border: none;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form{
  display: flex;
}

.add-task{
  border: none;
  outline: none;
  background: #0066cc;
  color: white;
  width: 10%;
  border-radius: 10%;
  cursor: pointer;
}

.task {
  background-color: #0066cc;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span {
  color: #FFFFFF;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif
}

.button.selected {
  color: #FFF;
  background-color: #0066cc;
}

.button.clear {
  float: right;
  color: #FFF;
  background-color: #ee1630;
  width: 170px;
}



@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }

  header h1 {
    font-size: 30px;
  }

  input,
  .add-task,
  .button {
    font-size: 14px;
  }

  article {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 95%;
  }

  header h1 {
    font-size: 24px;
  }

  input,
  .add-task,
  .button {
    font-size: 12px;
  }
}